<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	 <description>缓存</description>
	<!-- 开启spring缓存,和ehcache整合 -->
	<!-- 加载classpath:ehcache.xml配置文件 -->
	<!-- Key生成策略配置 -->
	<bean id="methodSignatureCacheKeyGenerator" class="com.max.venus.common.cache.MethodSignatureCacheKeyGenerator"/>
	<!-- 开启spring缓存注解 -->	
	<!-- <cache:annotation-driven cache-manager="ehCacheCacheManager" key-generator="methodSignatureCacheKeyGenerator" proxy-target-class="true"/> -->

		
	<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehCacheManagerFactory" />
	</bean>

	<bean id="ehCacheManagerFactory"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
		<property name="shared" value="true" />
	</bean>
	


</beans>
